section.hero {
    margin: 0;
    padding: 0;
    position: relative;

    img.hero {
        width: 113.5%;
        height: auto;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }

    .img-background {
        height: 75%;
        bottom: 0px;
    }
}

.hero-panel {
    p {
    }
}

nav.features {
    display: flex;
    flex-direction: column;
    margin-bottom: 5em;

    button {
        all: unset;
        cursor: pointer;
        padding: 1.4em 0 1.3em 0;
        border-bottom: 1px solid rgba(145,148,161,.3);
        position: relative;
        color: $neutral-gray;

        &:hover {
            color: $prim-red;
        }
    }

    button:first-child {
        border-top: 1px solid rgba(145,148,161,.3);
    }

    .active {
        color: $neutral-blue;
    }

    .active::after {
        content: '';
        width: 35%;
        height: 4px;
        background-color: $prim-red;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }
}

.feature {
    figure {
        margin-bottom: 5em;
    }
}

.browser {
    margin: 3.5em 1.1em;
    padding: 1.5em;
    border-radius: 10px;
    box-shadow: 0 12px 12px -2px rgba(83, 104, 223, .22);

    .logo {
        width: 43%;
    }

    .browser-version {
        margin-top: .5em;
    }

    .separator {
        position: relative;
        width: calc(100vw - 7.1em);
        left: 50%;
        transform: translateX(-50%);
    }

    button {
        width: 100%;
        margin: 0;
        margin-top: 1.5em;
    }
}

.question-answer {
    border-bottom: 1px solid rgba(145,148,161,.3);
    text-align: left;

    .question {
        all: unset;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        padding: 1.4em 0 1.3em 0;
        color: $neutral-blue;
        position: relative;
    }

    p {
        display: inline-block;
        text-align: left;
        padding: 0;
        margin: 0;
        font-size: .9rem;
        font-family: inherit;
        color:inherit;

        &:hover {
            color: $prim-red;
        }
    }

    object {
        position: absolute;
        right: 0;
        z-index: -10;

        &.opened {
            /* See javascript for SVG color change on click */
            transform: rotate(180deg);
        }
    }

    .answer {
        color: $neutral-gray;
        display: block;
        margin-bottom: 2em;
        line-height: 2em;
        transition: 800ms ease-in-out;
        transform-origin: top;
    }

    &:first-of-type {
        border-top: 1px solid rgba(145,148,161,.3);
    }

    &:last-of-type {
        margin-bottom: 3em;
    }

    .hidden-answer {
        display: none;
        transition:  150ms ease-in-out;
        background-color: red;
    }
}

.connect {
    background-color: $prim-blue;
    position: relative;
    width: 100vw;
    left: 50%;
    transform: translateX(-50%);
    padding: 2em 2em;

    h4 {
        padding-top: 2.4em;
        margin-bottom: 0;
    }

    h2 {
        color: $white;
        font-weight: normal;
        margin-top: .4em;
        margin-bottom: 1.2em;
    }

    form {
        display: flex;
        position: relative;
        justify-content: space-between;
        flex-wrap: wrap;

        * {
            flex: 1 100%;
        }

        input {
            border: none;
            color: $neutral-blue;
            font-size: .9rem;
            border-radius: 6px;
            padding: 1em;
            outline: none;
            box-shadow: inset 0px 0px 10px 5px rgba(83, 104, 223, .1);
        }

        .email {
            position: relative;
        }

        .warning {
            position: absolute;
            color: $prim-red;
            font-size: 1.2rem;
            right: 15px;
            top: 13px;
            display: none;
        }

        .validation-message {
            font-size: .6rem;
            font-family: $font-reg;
            font-style: italic;
            text-align: left;
            border-bottom-left-radius: 4px;
            border-bottom-right-radius: 4px;
            position: relative;
            padding: 6px 0 4px 12px;
            bottom: 4px;
            z-index: -5;
            margin:0;
            display: none;
        }

        .validated {
            color: $white;
            background-color: #009933;
        }

        .error {
            color: $white;
            background-color: $prim-red;
        }

        button {
            margin: 1.4em 0 2.8em 0;
            border-radius: 6px;
        }
    }
}

footer.main {
    background-color: $neutral-blue;
    color: $white;
    width: 100vw;
    position: relative;
    left: 50%;
    transform: translateX(-50%);

    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-transform: uppercase;
        font-family: $font-lig;

        .logo-footer {
            margin: 3em 0 1em 0;
        }

        a {
            font-size: .9rem;
            letter-spacing: .1em;
            font-weight: normal;
            color: $white;
            padding: 1em;
        }

        a:hover {
            color: $prim-red;
        }
    }

    .socials-footer {
        margin: 2em;

        a {
            font-size: 1.7rem;
            padding: .2em;
            margin: .6em;
        }
    }
}

.attribution {
    margin: .5em;
    font-size: .7rem;
}