section.hero {
    margin: 0;
    padding: 0;
    position: relative;

    @media screen and (min-width: 769px) {
        display: flex;
        justify-content: space-between;
        width: 105%;

        figure {
            margin: 0;
            order: 2;
        }
    }

    img.hero {
        // width: 113.5%;
        height: auto;
        position: relative;
        left: 50%;
        transform: translateX(-50%);

        @media screen and (min-width: 400px) {
            position: static;
            // width: 100%;
            // left: 0px;
            transform: none;
            align-self: center;
        }

        @media screen and (min-width: 769px) {
            width: unset;
            max-width: unset;
        }

    }

    .img-background {
        height: 75%;
        bottom: 0px;
    }
}

.hero-panel {

    @media screen and (min-width: 769px) {
        order: 1;
        flex: 1 0 50%;
        text-align: left;
        max-width: 525px;
        padding-top: 5.3em;

        .btn-1:first-of-type {
            margin-left: 0;
        }
    }

    p {
        padding: 0 1.6em;

        @media screen and (min-width: 769px) {
            padding: 0;
            margin-top: 0;
        }
    }
}

.features {
    @media screen and (min-width: 769px) {
        margin-top: 6em;

        h2 {
            margin-top: 0;
        }
    }
}

nav.features {
    max-width: 731px;
    margin: auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 4em;

    @media screen and (min-width: 769px) {
        width: 100%;
        flex-direction: row;
        margin-bottom: 2em;
        align-item: center;

        figure, .panel {
            flex: 1;
        }
    }

    @media screen and (min-width: 1000px) {
        margin-bottom: 3.5em;
    }

    button {
        all: unset;
        cursor: pointer;
        padding: 1.4em 0 1.3em 0;
        border-bottom: 1px solid rgba(145,148,161,.3);
        position: relative;
        color: $neutral-gray;
        flex: 1 33.3%;

        &:hover {
            color: $prim-red;
        }
    }

    button:first-child {
        border-top: 1px solid rgba(145,148,161,.3);

        @media screen and (min-width: 769px) {
            border-top: none;
        }
    }

    .active {
        color: $neutral-blue;
    }

    .active::after {
        content: '';
        width: 35%;
        height: 4px;
        background-color: $prim-red;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);

        @media screen and (min-width: 769px) {
            width: 100%;
        }
    }
}

.feature {

    @media screen and (min-width: 769px) {
        display: flex;
    }

    figure {
        margin-bottom: 5em;
        max-width: 380px;
        margin: auto;
        margin-bottom: 5em;

        @media screen and (min-width: 769px) {
            flex: 1;
            align-self: center;
            margin-right: 3%;
            // margin-bottom: 0;
            max-width: 536px;
            width: 100%;
        }
    }

    .panel {
        @media screen and (min-width: 769px) {
            flex: 1;
            text-align: left;
            padding-left: 7%;

            h2 {
                margin-top: 2.5em;
            }
        }
    }
}

.browsers {
    width: 100%;
    max-width: 900px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media screen and (min-width: 715px) {
        flex-direction: row;
    }
}

.browser {
    margin: 3.5em 1.1em;
    padding: 1.5em;
    border-radius: 10px;
    box-shadow: 0 12px 12px -2px rgba(83, 104, 223, .22);

    @media screen and (min-width: 715px) {
        margin: 3.5em 0em;
        flex-basis: 30%;
        max-width: 281px;

        &:first-of-type {
            position: relative;
            bottom: 2em;
        }
        &:last-of-type {
            position: relative;
            top: 2em;
        }
    }

    .logo {
        width: 43%;
        max-width: 125px;

        @media screen and (min-width: 715px) {
            width: 47%;
        }
    }

    .browser-version {
        margin-top: .5em;
    }

    .separator {
        position: relative;
        width: calc(100vw - 7.1em);
        left: 50%;
        transform: translateX(-50%);
        max-width: unset;

        @media screen and (min-width: 715px) {
            width: 122%;
        }
    }

    button {
        width: 100%;
        margin: 0;
        margin-top: 1.5em;
    }
}

.questions {
    max-width: 540px;
    margin: auto;
}

.question-answer {
    border-bottom: 1px solid rgba(145,148,161,.3);
    text-align: left;

    .question {
        all: unset;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        padding: 1.4em 0 1.3em 0;
        color: $neutral-blue;
        position: relative;
    }

    button:hover {
        color: $prim-red;
    }

    p {
        display: inline-block;
        text-align: left;
        padding: 0;
        margin: 0;
        // font-size: .9rem;
        font-family: inherit;
        color:inherit;
    }

    object {
        position: absolute;
        right: 0;
        z-index: -10;

        &.opened {
            /* See javascript for SVG color change on click */
            transform: rotate(180deg);
        }
    }

    .answer {
        color: $neutral-gray;
        display: block;
        line-height: 2em;
        // margin-bottom: 2em SEE JAVASCRIPT FILE toggleAnswer() ;
        transition: 350ms ease-in-out;
        transform-origin: top;
    }

    &:first-of-type {
        border-top: 1px solid rgba(145,148,161,.3);
    }

    &:last-of-type {
        margin-bottom: 3em;
    }

    .hidden-answer {
        max-height: 0;
        // transition: max-height 0.35s ease-in-out;
        overflow: hidden;
    }
}

.connect {
    background-color: $prim-blue;
    position: relative;
    width: 100vw;
    left: 50%;
    transform: translateX(-50%);
    padding: 2em 2em;

    .container {
        max-width: 445px;
        margin: auto;

        @media screen and (min-width: 769px) {
            margin-bottom: 2.8em;
        }
    }

    h4 {
        padding-top: 2.4em;
        margin-bottom: 0;
    }

    h2 {
        color: $white;
        font-weight: normal;
        margin-top: .4em;
        margin-bottom: 1.2em;
    }

    form {
        display: flex;
        position: relative;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;

        * {
            flex: 1 100%;

            @media screen and (min-width: 769px) {
                flex-basis: auto;
            }
        }

        input {
            border: none;
            color: $neutral-blue;
            font-size: .9rem;
            border-radius: 6px;
            padding: 1em;
            outline: none;
            box-shadow: inset 0px 0px 10px 5px rgba(83, 104, 223, .1);
        }

        .email {
            position: relative;
            flex: 1;

            @media screen and (min-width: 769px) {
                // max-width: 301px;
            }
        }

        .warning {
            position: absolute;
            color: $prim-red;
            font-size: 1.2rem;
            right: 15px;
            top: 13px;
            display: none;

            @media screen and (min-width: 769px) {
                right: 143px;
            }
        }

        .validation-message {
            font-size: .6rem;
            font-family: $font-reg;
            font-style: italic;
            text-align: left;
            border-bottom-left-radius: 4px;
            border-bottom-right-radius: 4px;
            position: relative;
            padding: 6px 0 4px 12px;
            bottom: 4px;
            z-index: -5;
            margin:0;
            display: none;

            @media screen and (min-width: 769px) {
                position: absolute;
                width: 314px;
                bottom: -23px;
            }
        }

        .validated {
            color: $white;
            background-color: #009933;
        }

        .error {
            color: $white;
            background-color: $prim-red;
        }

        button {
            margin: 1.4em 0 2.8em 0;
            border-radius: 6px;

            @media screen and (min-width: 769px) {
                flex: 0;
                margin: 0;
                margin-left: 1em;
            }

        }
    }
}

footer.main {
    width: 100vw;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    background-color: $neutral-blue;

    .container {
        display: flex;
        margin: auto;
        flex-direction: column;
        align-items: center;
        color: $white;
        max-width: 1110px;

        @media screen and (min-width: 769px) {
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            padding: 1em 2em;
        }
    }

    .logo-footer {
        margin: 3em 0 1em 0;

        @media screen and (min-width: 769px) {
            margin: 0;
            margin-right: 5%;
        }
    }

    nav {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-transform: uppercase;
        font-family: $font-lig;

        @media screen and (min-width: 769px) {
            flex-direction: row;
        }

        a {
            font-size: .9rem;
            letter-spacing: .1em;
            font-weight: normal;
            color: $white;
            padding: 1em;
        }

    }

    a:hover, i:hover {
        color: $prim-red;
    }

    .socials-footer {
        margin: 2em;

        @media screen and (min-width: 769px) {
            margin: 0;
        }
        a {
            color: $white;
            font-size: 1.7rem;
            padding: .2em;
            margin: .6em;
        }
    }
}

.attribution {
    margin: .5em;
    padding-top: .5em;
    font-size: .7rem;

    a:hover {
        color: $prim-red;
    }
}

.hide {
    display: none;
}
