  // Primariy colors
  $prim-blue: hsl(231, 69%, 60%);
  $prim-red: hsl(0, 94%, 66%);

  // Neutral
  $neutral-gray: hsl(229, 8%, 60%);
  $metal-gray: #666666;
  $light-neutral-gray: rgba(145, 148, 161, .3);
  $neutral-blue: hsl(229, 31%, 21%);
  $white: #ffffff;

