*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    --body-side-padding: 2em;

    @media screen and (min-width: 769px) {
        --body-side-padding: 3em;
    }

    @media screen and (min-width: 1120px) {
        --body-side-padding: 4em;
    }
}

body {
    margin: 0;
    padding: 2.5em var(--body-side-padding) 0 var(--body-side-padding);
    font-family: $font-reg;
    text-align: center;
    color: $neutral-blue;

    @media screen and (min-width: 769px) {
        padding-top: 3.5em;
    }
}

h1 {
    font-size: 1.8rem;
    line-height: 1.4em;

    @media screen and (min-width: 768px) {
        font-size: 2.3rem;
        line-height: 1.1em;
        font-family: $font-reg;
    }

    @media screen and (min-width: 1120px) {
        font-size: 3rem;
    }
}

h2 {
    line-height: 1.4em;

    @media screen and (min-width: 769px) {
        font-size: 1.9rem;
        margin-top: 4.5em;
    }
}

h3 {
    margin: 1.8em 0 0 0;
    font-size: 1.23rem;
}

h4 {
    text-transform: uppercase;
    color: $white;
    font-size: 0.8rem;
    font-family: $font-lig;
    font-weight: normal;
    letter-spacing: .3em;
}

section {
    margin-top: 10em;
}

p {
    color: $neutral-gray;
    font-family: $font-lig;
    letter-spacing: .03em;
    line-height: 1.7em;
    font-size: .9rem;
    margin-bottom: 2em;

    @media screen and (min-width: 715px) {
        font-size: 1.1rem;
    }
}

a.logo {
    position: relative;
    display: inline-block;

    &:after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
}

header p {
    max-width: 620px;
    margin: auto;
    margin-bottom: 2em;
}

a, a:active, a:visited {
    text-decoration: none;
    color: $neutral-blue;
}

button {
    letter-spacing: .07em;
    line-height: 1em;
    font-size: 0.8rem;
    margin: 6px;
    padding: 1.3em 1.5em;
    border-radius: 5px;
    border: none;
    cursor: pointer;

    @media screen and (min-width: 769px) {
        padding: 1.3em 2em;
    }

    &:hover {
        background-color: $white;
        padding: calc(1.3em - 2px) calc(1.5em -2px);
        border-width: 2px;
        border-style: solid;

        @media screen and (min-width: 769px) {
            padding: calc(1.3em - 2px) calc(2em -2px);
        }
    }
}

.btn-1 {
    background-color: $prim-blue;
    color: $white;
    box-shadow: 0px 5px 5px -2px rgba(83, 104, 223, .3);

    &:hover {
        color: $prim-blue;
        border-color: $prim-blue;
    }
}

.btn-2 {
    font-family: $font-med;
    color: $metal-gray;
    background-color: #f7f7f7;
    box-shadow: 0px 7px 7px -3px rgba(83, 104, 223, .3);

    &:hover {
        color: $neutral-blue;
        border-color: $neutral-blue;
    }
}

.btn-3 {
    color: $white;
    background-color: $prim-red;

    &:hover {
        color: $prim-red;
        border-color: $prim-red;
    }
}

img {
    width: 100%;
    max-width: 538px;

    @media screen and (min-width: 400px) and (max-width: 630px) {
        max-width: 381px;
    }
}

figure {
    margin: 0;
    margin-bottom: 3em;
    position: relative;
}

/* Illustration background */
.img-background{
    content: '';
    display: block;
    width: 72vw;
    height: 98%;
    background-color: $prim-blue;
    border-radius: 110px 0 0 110px;
    position: absolute;
    z-index: -1;
    bottom: -15%;

    @media screen and (min-width: 769px) {
        width: 36vw;
    }
}

.bg-right {
    /* Weird way of overflowing the body margin
     * and be fullwidth */
    right: calc(var(--body-side-padding) * -1);

    @media screen and (min-width: 769px) {
    /* This is necessary because the image that the pseudo
     * element is attached to overflows on large screens,
     * making the blue background disappear */
     left: 14vw;
    }

}

.bg-left {
    left: calc(var(--body-side-padding) * -1);
    border-radius: 0 110px 110px 0;
}