.page-header {
    width: 100%;
    // padding: 2.5em 1.6em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4.8em;
    z-index: 100;
    position: relative;

    .nav-toggle {
        color: $white;
        font-size: 1.3rem;
        cursor: pointer;

        @media screen and (min-width: 769px) {
            display: none;
        }
    }

    /* Active by default when loading the page, unlike the hide class below */
    .nav-toggle.active {
        color: $neutral-blue;
    }
}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    padding: 100px 1.6em 2em 1.6em;
    height: 100vh;
    width: 100%;
    background-color: rgba(37,43,70,.93);
    z-index:10;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transform: scaleX(1);
    transform-origin: left;
    transition: transform 350ms ease-in-out; // Entire menu in/out

    @media screen and (min-width: 769px) {
        background-color: initial;
        height: auto;
        padding: 0;
        right: 0;
        top: -16px;
        margin: 3.5em
    }

    .nav{
         opacity: 1;
         transition: opacity 250ms ease-in-out 300ms; // Text coming in (+250ms delay)
    }
    .nav.hidden-nav {
        opacity: 0;
        transition: opacity 70ms ease-in-out; // Text going out

        @media screen and (min-width: 769px) {
            opacity: 1;
            position: absolute;
            right: 14.5%;
        }
    }
    nav {
        display: flex;
        position: relative;
        flex-direction: column;
        height: 100%;
        width: 100%;
        flex: 1;

        @media screen and (min-width: 769px) {
            flex-direction: initial;
            align-items: center;
        }
    }

    nav > * {
        text-transform: uppercase;
        letter-spacing: .15em;
        color: $white;
        border-top: 1px solid $light-neutral-gray;
        flex: 0;

        @media screen and (min-width: 769px) {
            color: $neutral-blue;
            border: none;
        }
    }

    .login {
        background: none;
        border: 2px solid $white;
        font-size: 1rem;
        padding: .5em 1em;
        margin-left: 0;
        margin-right: 0;

        &:hover {
            color: $prim-red;
            border: 2px solid $prim-red;
        }

        @media screen and (min-width: 769px) {
            color: $white;
            background-color: $prim-red;
            border: none;
            font-size: .7rem;
            padding: 1.5em 3em;
            box-shadow: 0px 5px 5px -2px rgba(83, 104, 223, .3);

            &:hover {
                color: $prim-red;
                background-color: $white;
                border-color: $prim-red;
                padding: calc(.8em - 2px) calc(3em - 2px);
            }
        }
    }

    a {
        padding: 1.2em 0;

        @media screen and (min-width: 769px) {
            padding: .3em 2em;
            font-size: .75rem;
        }
    }

    a:nth-child(3) {
        border-bottom: 1px solid $light-neutral-gray;
        margin-bottom: 1.3em;

        @media screen and (min-width: 769px) {
            border: none;
            margin-bottom: 0;
            margin-right: 6%;
        }
    }

    a:hover {
        color: $prim-red;
    }

    .socials {
        font-size: 1.6rem;
        position: relative;

        @media screen and (min-width: 769px) {
            display: none;
        }

        i {
            margin: 0 15px;
            color: $white;
        }

        a:hover i {
            color: $prim-red;
        }
    }
}

.hidden-menu {
    transform: scaleX(0);

    @media screen and (min-width: 769px) {
        transform: none;
    }
}

.hidden-nav,
.hidden-socials {
    opacity: 0;

    @media screen and (min-width: 769px) {
        opacity: 1;
    }
}

.stop-scrolling {
    overflow: hidden;
}