// Primary
$cyan: hsl(171, 66%, 44%);
$cyan-active: #66cccc;
$purple: hsl(233, 100%, 69%);
$purple-active: #9999ff;

// Neutral colors
$darkGray: hsl(210, 10%, 33%);
$lightGray: hsl(201, 11%, 66%);

$white: #fff;



